div {
    border: 1px solid #909090
}

.borderLayout {
    display: table;
    width: 100%;
    height: 97vh;
}

.borderLayout .top {
    display: table-row;
    height: 10%;
}

.borderLayout .left {
    display: table-cell;
    vertical-align: middle;
    width: 20%;
}

.borderLayout .center {
    display: table-cell;
    vertical-align: middle;
}

.borderLayout .right {
    display: table-cell;
    vertical-align: middle;
    width: 20%;
}

.borderLayout .bottom {
    display: table-row;
    height: 10%;
}
